@model system_oceny.Models.Firma

@{
    ViewBag.Title = "Create";
}

<h2>Stwórz</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Firma</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Branza, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Branza, new SelectList(new[] { "Komputerowa", "Spożywcza", "Handlowa", "Usługowa", "Samochodowa", "Inna" }), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Branza)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nazwa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nazwa)
                @Html.ValidationMessageFor(model => model.Nazwa)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NIP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NIP)
                @Html.ValidationMessageFor(model => model.NIP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Opis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Opis)
                @Html.ValidationMessageFor(model => model.Opis)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email)
                @Html.ValidationMessageFor(model => model.email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numer_telefonu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numer_telefonu)
                @Html.ValidationMessageFor(model => model.numer_telefonu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adres, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.adres)
                @Html.ValidationMessageFor(model => model.adres)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.kod_pocztowy, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.kod_pocztowy)
                @Html.ValidationMessageFor(model => model.kod_pocztowy)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.miasto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.miasto)
                @Html.ValidationMessageFor(model => model.miasto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stwórz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
