@model system_oceny.Models.Firma

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div class="row">
    <div class="col-md-8">
        <h4>Firma</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nazwa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nazwa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Branza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branza)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Opis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Opis)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.numer_telefonu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numer_telefonu)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.adres)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.adres)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.kod_pocztowy) @Html.DisplayFor(model => model.miasto)
            </dd>
        </dl>

        <h4>Galeria</h4> 
            @Html.ActionLink("Przeglądaj galerię", "Index", "Image", new { id = Model.Id }, null)
            @Html.ActionLink("Dodaj zdjęcie", "Create", "Image", new { FirmaId = Model.Id }, null)
        
        <h4>Komentarze:</h4>
        <hr />
        @if (!User.Identity.Name.Equals(""))
        {
            @Html.ActionLink("Dodaj komentarz", "Create", "Comment", new { FirmaId = Model.Id, autor = User.Identity.Name }, null)
        }

        <p>
            @foreach (var item in Model.Komentarz)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.tresc)
                    <br />~@Html.DisplayFor(modelItem => item.autor)
                    <br /><i>@Html.DisplayFor(modelItem => item.data)</i>
                    @if (User.Identity.Name.Equals(item.autor) || User.Identity.Name.Equals("Moderator"))
                    {
                        <br />@Html.ActionLink("edytuj  ", "Edit", "Comment", new { id = item.komentarzID }, null)
                        @Html.ActionLink("skasuj", "Delete", "Comment", new { id = item.komentarzID }, null)
                    }
                    <br /><br />
                </dd>
            }
        </p>

    </div>

    <div class="col-md-4">
        <h4>Ocena użytkowników:</h4>
        <hr />
        <b>Ocena: @Html.DisplayFor(model => model.ocena)</b> 
        <br/>Jakość: @Html.DisplayFor(model => model.ocena_j)
        <br /> Cena: @Html.DisplayFor(model => model.ocena_cz)
        <br />Czas: @Html.DisplayFor(model => model.ocena_ce)
        <br />na podstawie @Html.DisplayFor(model => model.ilosc_ocen) Ocen
        <br />
        
        <br />
        <b>Twoja ocena: </b>
        @if (!User.Identity.Name.Equals(""))
        {
            int existingRate = 0;
            foreach (var item in Model.Oceny)
            {
                if (item.login == User.Identity.Name)
                {
                    <dd>
                        @Html.DisplayFor(modelItem => item.ocenaG)
                    </dd>
                    existingRate = item.ocenaId;
                }
            }
            if (existingRate > 0)
            {
                <dd>
                    @Html.ActionLink("edytuj ocenę", "Edit", "Ocena", new { id = existingRate }, null)
                </dd>
            }
            else if (existingRate == 0 && !User.Identity.Name.Equals(""))
            {
                <dd>
                    <div>Jeszcze nie oceniłeś tej firmy</div>
                    @Html.ActionLink("dodaj ocenę", "Create", "Ocena", new { FirmaId = Model.Id, login = User.Identity.Name }, null)
                </dd>
            }
        }
        else
        {
            <dd>
                @Html.ActionLink("Zaloguj się", "Login", "Account", null, null)
            </dd>
        }
    </div>

</div>



<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
