@model system_oceny.Models.Firma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row">
    <div class="col-md-8">
        <h4>Firma</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nazwa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nazwa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Branza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Branza)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Opis)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Opis)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.numer_telefonu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numer_telefonu)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.adres)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.adres)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.kod_pocztowy) @Html.DisplayFor(model => model.miasto)
            </dd>
        </dl>

        <h4>Komentarze:</h4>
        <hr />
        @if (!User.Identity.Name.Equals(""))
        {
            @Html.ActionLink("Dodaj komentarz", "Create", "Comment", new { gameId = Model.Id }, null)
        }

        <p>
            @foreach (var item in Model.Komentarz)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.tresc)
                    <br />~@Html.DisplayFor(modelItem => item.autor)
                    @if (User.Identity.Name.Equals(item.autor) || User.Identity.Name.Equals("Moderator"))
                    {
                        <br />@Html.ActionLink("edit", "Edit", "Comment", new { id = item.komentarzID }, null)
                        @Html.ActionLink("delete", "Delete", "Comment", new { id = item.komentarzID }, null)
                    }
                    <br /><br />
                </dd>
            }
        </p>

    </div>

    <div class="col-md-4">
        <h4>Ocena użytkowników:</h4>
        <hr />
        <b><h4>@Html.DisplayFor(model => model.ocena)</h4></b> na podstawie @Html.DisplayFor(model => model.ilosc_ocen) Ocen
        <br />
        @if (!User.Identity.Name.Equals(""))
        {
            <body>
                @using (Html.BeginForm())
                {
                    <div>Wystaw ocenę: </div>
                    <div>@Html.TextBox("FirmaOcen")</div>
                    <input type="submit" value="Ocen" />
                }
            </body>
        }
    </div>

</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
