@model IEnumerable<system_oceny.Models.Firma>

@{
    ViewBag.Title = "Index";
}

<h2>Baza Firm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<body>
    @using (Html.BeginForm())
    {
        <div>Firma: </div>
        <div>@Html.TextBox("NazwaZnajdz")</div>
        <div>Branza: </div>
        <div>@Html.TextBox("BranzaZnajdz")</div>
        <input type="submit" value="Szukaj" />
    }
</body>

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branza) @Html.ActionLink("⇓", "Index", new { sortowanie = ViewBag.SortByBranza, BranzaZnajdz = ViewBag.BranzaZnajdz, NazwaZnajdz = ViewBag.NazwaZnajdz })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nazwa) @Html.ActionLink("⇓", "Index", new { sortowanie = ViewBag.SortByNazwa, BranzaZnajdz = ViewBag.BranzaZnajdz, NazwaZnajdz = ViewBag.NazwaZnajdz })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ocena) @Html.ActionLink("⇓", "Index", new { sortowanie = ViewBag.SortByOcena, BranzaZnajdz = ViewBag.BranzaZnajdz, NazwaZnajdz = ViewBag.NazwaZnajdz })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ocena)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
