@model system_oceny.Models.Ocena

@{
    ViewBag.Title = "Create";
}

<h2>Dodaj</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ocena</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.ocenaG, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ocenaG)
                @Html.ValidationMessageFor(model => model.ocenaG)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ocena_jakosc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ocena_jakosc)
                @Html.ValidationMessageFor(model => model.ocena_jakosc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ocena_cena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ocena_cena)
                @Html.ValidationMessageFor(model => model.ocena_cena)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ocena_czas, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ocena_czas)
                @Html.ValidationMessageFor(model => model.ocena_czas)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oceń" class="btn btn-default" />
            </div>
        </div>
    </div>
    
<a href="javascript:history.back()">Wróć</a>
}